<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="text-success">Итог</h1>
        <% if (howString === false) { %>
        <ul>
            <% for (var table in final) { %>
            <li>
                <%= table %>
                <% if (Array.isArray(final[table])) { %>
                    <ul>
                        <% final[table].forEach(function(item) { %>
                            <li> <%= JSON.stringify(item) %> </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <%= ' - ' + final[table] %>
                <% }; %>
            </li>
            <% }; %>
        </ul>
        <% }; %>
        
        <% if (howString === true) { %>
        <ul>
            <% for (var table in final) { %>
            <li>
                <%= table %>
                <% if (Array.isArray(final[table])) { %>
                <ul>
                    <% final[table].forEach(function(item) { %>
                        <li>
                            <ul>
                                <% for (var key in item) { %>
                                <li>
                                    <%= key + ' : ' + item[key] %>
                                </li>
                                <% }; %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
                <% } else { %>
                    <%= ' - ' + final[table] %>
                <% }; %>
            </li>
            <% }; %>
        </ul>
        <% }; %>
</body>
</html>